<!DOCTYPE html>
<html>
  <head>
    <title>Submit Quiz</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
      }
      h1 {
        color: #333;
      }
      form {
        margin-top: 20px;
      }
      label {
        display: block;
        margin-bottom: 10px;
      }
      button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>Submit Quiz</h1>
    <form action="/submitquiz/<%= quiz._id %>" method="POST">
      <% for (let i = 0; i < quiz.questions.length; i++) { %>
        <h3>Question <%= i + 1 %>: <%= quiz.questions[i].question %></h3>
        <% for (let j = 0; j < quiz.questions[i].options.length; j++) { %>
          <input type="radio" name="answer<%= i %>" value="<%= j %>">
          <label><%= quiz.questions[i].options[j].option %></label><br>
        <% } %>
        <br>
      <% } %>
      <button type="submit">Submit Quiz</button>
    </form>
  </body>
</html>
